// Variables
$primary-color: #f8f9fa;
$text-color: #333;
$link-color: #31a76b;
$border-color: #ddd;
$border-radius: 8px;
$hover-background: #f1f1f1;
$main-color: #31a76b;


// Reset Styles
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: $text-color;
  line-height: 1.6;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($link-color, 10%);
  }
}

// General Layout
header {
  background-color: $main-color;
  color: white;
  padding: 0.5rem;
  text-align: center;
  h1 {
    font-size: 1.25rem;
  }
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;

  section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: darken($text-color, 20%);
    }

    p {
      margin-bottom: 1rem;
    }

    ul {
      margin: 1rem 0;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  main {
    padding: 0.5rem;
  }

  section {
    padding: 0.5rem;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

 
}

@media (max-width: 480px) {
  section h2 {
    font-size: 0.9rem;
  }

  section p {
    font-size: 0.8rem;
  }
}
