$primary-color: #f9f9f9;
$hover-color: #e0f7e6;
$text-color: #333;
$border-radius: 8px;
$btn-color: #31a76b;
$btn-hover-color: #279a60;
$border-radius: 8px;
$main-color: #31a76b;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 1024px) {
    padding: 0px;
  }
}

.section {
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
    
  @media (min-width: 1024px) {
    margin-bottom: 6rem;
  }
}

header {
  background-color: $main-color;
  color: white;
  padding: 0.5rem;
  text-align: center;
  h1 {
    font-size: 1.25rem;
  }
}


.headline {
  font-size: 1.25rem;
  color: $btn-color;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: underline;
}
//

// Variables
$primary-color: #f9f9f9;
$text-color: #333;
$highlight-color: #31a76b;
$border-color: #ddd;
$border-radius: 8px;

.introduction {
  background-color: white;
  padding: 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 0.25rem;

  .intro-content {
    h2 {
      font-size: 1.25rem;
      color: $text-color;
      margin: 0;
    }

    .description {
      font-size: 1rem;
      color: $text-color;
      line-height: 1.6;
      margin: 0;

      strong {
        color: $highlight-color;
      }
    }

    .stats {
      padding: 0.1rem;
      border-radius: $border-radius;
      font-size: 1rem;
      font-weight: bold;
      width: fit-content;
      margin: 0.5rem auto;
      padding-left: 1rem;
      padding-right: 1rem;

      p {
        margin: 0;
      }

      strong {
        font-size: 1.2rem;
      }
    }

    .highlight {
      font-size: 0.9rem;
      color: $highlight-color;
      font-weight: bold;
      line-height: 1.6;

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .introduction {
    padding: 1rem;
    .intro-content {

      .description {
        font-size: 1rem;
      }

      .stats {
        font-size: 1.1rem;

        strong {
          font-size: 1.3rem;
        }
      }

      .highlight {
        font-size: 1rem;
      }
    }
  }

  @media (min-width: 1024px) {
    .introduction {
      padding: 1rem;

      .intro-content {

        .description {
          font-size: 1.1rem;
        }

        .stats {
          font-size: 1.2rem;

          strong {
            font-size: 1.4rem;
          }
        }

        .highlight {
          font-size: 1.1rem;
        }
      }
    }
  }
}

//  top collections

.ladi-collection-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ladi-collection-item {
  text-decoration: none;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding-top: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .ladi-image {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    min-height: 48px;
    img {
      width: auto;
      max-width: 100%;
      height: 42px;
      max-height: 42px;
      margin-right: auto;
      margin-left: auto;
      &.h30 {
        max-height: 30px;
        height: 30px;
      }
      &.h25 {
        max-height: 25px;
        height: 25px;
      }
    }
  }

  .offer-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 0px;
    color: $main-color;
  }

  .offer-amount {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    .money {
      font-weight: bold;
    }
  }

  .offer-age {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    font-weight: bold;
    display: flex;
  }

  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #31a76b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.875rem;
    transition: background-color 0.3s;
    font-weight: bold;
    &:hover {
      background-color: #279a60;
    }
  }
}

@media (min-width: 767px) {
  .ladi-collection-item {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1024px) {
  .ladi-collection-item {
    width: calc(20% - 0.8rem);
  }
}

// end top collections

.list-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.step-item {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    background-color: $hover-color;
    transform: scale(1.02);
  }
  .icon {
    flex: 0 0 50px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
  .content {
    flex: 1;

    .title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      color: $main-color;
    }

    .description {
      margin: 0.5rem 0 0;
      font-size: 0.875rem;
      color: #555;
      line-height: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .step-item {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 1024px) {
  .step-item {
    width: calc(25% - 0.75rem);
  }
}

///
/// offer-box details
///

.list-details-offer-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

// Variables for consistent styling
$border-color: #ddd;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$hover-shadow-color: rgba(0, 0, 0, 0.2);
$hover-background-color: #f9f9f9;
$title-color: #333;
$text-color: #555;
$border-radius: 8px;

// Styling for the offer box
.offer-box-item {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 1rem;
  box-shadow: 0 2px 4px $box-shadow-color;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: $hover-background-color;
    transform: scale(1.02);
    box-shadow: 0 4px 8px $hover-shadow-color;
  }

  .offer-title {
    font-size: 1rem;
    line-height: 1.4;
    height: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $title-color;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.4;
    color: $text-color;
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .offer-duration {
    font-weight: bold;
    color: #222;
  }
  .txtmain {
    color: $main-color;
  }
  .address {
    font-weight: 500;
    color: $main-color;
  }
  .phone {
    color: $main-color;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .offer-box-item {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1024px) {
  .offer-box-item {
    width: calc(33.3333% - 0.666667rem);
  }
}

// content container

$primary-color: #f9f9f9;
$secondary-color: #ffffff;
$hover-color: #e6f4ea;
$text-color: #333;
$highlight-color: #31a76b;
$border-radius: 8px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
}

.content-container {
  padding: 1.5rem;
  background-color: $secondary-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: $highlight-color;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $highlight-color;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: $hover-color;
    margin: 2rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;

    thead {
      background-color: $highlight-color;
      color: $secondary-color;

      th {
        padding: 0.75rem;
        text-align: left;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $hover-color;
        }

        td {
          padding: 0.75rem;
          border: 1px solid $hover-color;
        }
      }
    }
  }

  .highlight {
    color: $highlight-color;
    font-weight: bold;
  }
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: $highlight-color;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $highlight-color;
  color: $secondary-color;
  text-decoration: none;
  border-radius: $border-radius;
  transition: $transition;

  &:hover {
    background-color: darken($highlight-color, 10%);
  }
}

@media (min-width: 768px) {
  .content-container {
    padding: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  ul li {
    font-size: 1.1rem;
  }

  table th,
  table td {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .content-container {
    padding: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  ul li {
    font-size: 1.2rem;
  }

  table th,
  table td {
    font-size: 1.1rem;
  }
}
